.photo {
  height: 462px;
  width: 764px;
  padding: 1rem;
}

.main-heading{
  padding: 5rem 0 2rem;
  text-align: left;
}

.main-heading h1{
  font: {
    weight: bold;
    family: "Great Vibes" , cursive
  }
}

.container{
  padding: 2rem;
}

