$primary-color: #00cba9;

h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}

::-moz-selection {
  /* Code for Firefox */
  color: $primary-color;
  background-color: white;
}

::selection {
  color: $primary-color;
  background-color: white;
}
.link {
  text-decoration: none;
  color: #e6e7e9;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
}
.link:hover {
  text-decoration: none;
  color: $primary-color;
}

img,
footer {
  animation: image-load 1.5s ease-in-out;
}

@keyframes image-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
