.projects .cards {
  margin: 1rem;
  max-height: 280px;
  color: #333646;
  background-image: linear-gradient(
    to right bottom,
    #d0cde1,
    #cfcbe5,
    #cecae8,
    #cdc8ec,
    #ccc6ef,
    #c8c1ef,
    #c4bdef,
    #c0b8ef,
    #b8afec,
    #b0a6e8,
    #a89de5,
    #a094e1
  );
  border: none;
}

.projects h1 {
  padding-bottom: 2rem;
  font-weight: bold;
}

.projects img:hover {
  opacity: 0.75;
}

.projects .card-title {
  display: inline-block;
  margin-right: 0.5rem;
}

.projects .sourceCode {
  border-color: #333646;
  color: #333646;
}
.projects .sourceCode:hover {
  background-color: #333646;
  border-color: #333646;
}
.projects .language {
  background-color: #00cba9;
  color: white;
  margin-left: 0.25rem;
}
.projects .library {
  background-color: #ff4f7b;
  color: white;
  margin-left: 0.25rem;
}

.projects .cards:hover {
  animation: cardShake 0.5s;
  animation-iteration-count: 1;
}

.projects a {
  text-decoration: none;
  font-weight: bold;
  color: #333646;
}
.projects a:hover {
  text-decoration: none;
  color: #00cba9;
}

@keyframes cardShake {
  0% {
    transform: translate(-1px, 2px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  100% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
}
