footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: #252734;
  //color: #e6e7e9;
}

.wave {
  background-image: linear-gradient(
    to right,
    #d0cde1,
    #cdc9e4,
    #cac5e7,
    #c7c1e9,
    #c4bdec,
    #c0b8ec,
    #bcb4ec,
    #b8afec,
    #b2a8e9,
    #aca1e7,
    #a69be4,
    #a094e1
  );
  color: #252734;
}
