footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  background-color: #3f3d56;
}

footer p {
  margin: 0;
  padding-top: 1rem;
}

.footer-border {
  text-align: center;
  border-top: 5px solid;
  border-image: linear-gradient(
      to right,
      grey 25%,
      yellow 25%,
      yellow 50%,
      red 50%,
      red 75%,
      teal 75%
    )
    5;
}
