.skills {
  background-image: linear-gradient(
    to right bottom,
    #98cbc3,
    #90c8bf,
    #88c6bc,
    #80c3b8,
    #78c0b4,
    #70c0b2,
    #67c0b1,
    #5dc0af,
    #50c3ae,
    #40c6ad,
    #2cc8ab,
    #00cba9
  );
  color: #333646;
}

.skills span {
  color: #333646;
}
