.skills {
  background-image: linear-gradient(
    to right bottom,
    #d0cde1,
    #cfcbe5,
    #cecae8,
    #cdc8ec,
    #ccc6ef,
    #c8c1ef,
    #c4bdef,
    #c0b8ef,
    #b8afec,
    #b0a6e8,
    #a89de5,
    #a094e1
  );
  color: #333646;
}
.skills h1 {
  padding-bottom: 4rem;
  font-weight: bold;
}
.skills span {
  color: #333646;
}

.skills img:hover {
  opacity: 0.6;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
