.education h1 {
  padding: 1rem 1rem 2rem;
  font-weight: bold;
  text-align: center;
}
.education {
  text-align: left;
  //background-color: #252734;
  background-image: linear-gradient(
    to right bottom,
    #d0cde1,
    #cfcbe5,
    #cecae8,
    #cdc8ec,
    #ccc6ef,
    #c8c1ef,
    #c4bdef,
    #c0b8ef,
    #b8afec,
    #b0a6e8,
    #a89de5,
    #a094e1
  );
  color: #252734;
}
.history-tl-container {
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}
.history-tl-container ul.tl {
  padding: 0;
  display: inline-block;
}
.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 200px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86d6ff;
  padding: 0 0 50px 30px;
  position: relative;
}
.history-tl-container ul.tl li:last-child {
  border-left: 0;
}
.history-tl-container ul.tl li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 35px;
  width: 35px;
  transition: all 500ms ease-in-out;
}
.history-tl-container ul.tl li:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}
ul.tl li .item-title {
}
ul.tl li .item-detail {
  color: white;
  font-size: 12px;
}
ul.tl li .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}
